In [1]:
pwd

'/mmfs1/data/aglinska/BC-fMRI-AE/Notebooks'

In [21]:
import os
import pandas as pd
import numpy as np

In [6]:
df2 = pd.read_csv('../Data/ABIDE2_df.csv')

In [8]:
df2.head()

,Unnamed: 0,site_id,participant_id,ndar_guid,dx_group,pdd_dsm_iv_tr,asd_dsm_5,age_at_scan,sex,handedness_category,...,adi_r_c3_total,adi_r_c4_repetitive_use_objects,adi_r_c4_higher,adi_r_c4_unusual_sensory_interests,adi_r_c4_total,adi_r_d_age_parent_noticed,adi_r_d_age_first_single_words,adi_r_d_age_first_phrases,adi_r_d_age_when_abnormality,adi_r_d_interviewer_judgment
0,0,ABIDEII-BNI_1,29006,NaN,1,NaN,NaN,48.0,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,ABIDEII-BNI_1,29007,NaN,1,NaN,NaN,41.0,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,ABIDEII-BNI_1,29008,NaN,1,NaN,NaN,59.0,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,ABIDEII-BNI_1,29009,NaN,1,NaN,NaN,57.0,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,ABIDEII-BNI_1,29010,NaN,1,NaN,NaN,45.0,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#participant_id
#site_id

In [11]:
subs = df2['participant_id'].values

In [15]:
fn_temp = '../../data/ABIDE2/Derivatives/test/fmriprep/sub-{sub}/ses-1/func/sub-{sub}_ses-1_task-rest_run-1_space-MNI152NLin2009cAsym_desc-preproc_bold.nii.gz'

In [22]:
is_vec = [os.path.exists(fn_temp.format(sub=sub)) for sub in subs]
is_vec = np.array(is_vec)

In [25]:
is_vec.sum()

138