In [168]:
pwd

'/mmfs1/data/aglinska/BC-fMRI-AE/Notebooks'

In [169]:
import os
import pandas as pd
import numpy as np

In [170]:
df2 = pd.read_csv('../Data/ABIDE2_df.csv')

In [171]:
df2.head()

,Unnamed: 0,site_id,participant_id,ndar_guid,dx_group,pdd_dsm_iv_tr,asd_dsm_5,age_at_scan,sex,handedness_category,...,adi_r_c3_total,adi_r_c4_repetitive_use_objects,adi_r_c4_higher,adi_r_c4_unusual_sensory_interests,adi_r_c4_total,adi_r_d_age_parent_noticed,adi_r_d_age_first_single_words,adi_r_d_age_first_phrases,adi_r_d_age_when_abnormality,adi_r_d_interviewer_judgment
0,0,ABIDEII-BNI_1,29006,NaN,1,NaN,NaN,48.0,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,ABIDEII-BNI_1,29007,NaN,1,NaN,NaN,41.0,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,ABIDEII-BNI_1,29008,NaN,1,NaN,NaN,59.0,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,ABIDEII-BNI_1,29009,NaN,1,NaN,NaN,57.0,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,ABIDEII-BNI_1,29010,NaN,1,NaN,NaN,45.0,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [172]:
#participant_id
#site_id

In [173]:
subs = df2['participant_id'].values

In [190]:
#fn_temp = '../../data/ABIDE2/Derivatives/test/fmriprep/sub-{sub}/ses-1/func/sub-{sub}_ses-1_task-rest_run-1_space-MNI152NLin2009cAsym_desc-preproc_bold.nii.gz'
# fn_temp = '../../data/ABIDE2/Derivatives/test/fmriprep/sub-{sub}/ses-1/func/sub-{sub}_ses-1_task-rest_run-1_space-*-preproc_bold.nii.gz'
# is_vec = [os.path.exists(fn_temp.format(sub=sub)) for sub in subs]
# is_vec = np.array(is_vec)
# print(f'{is_vec.sum()}/{len(is_vec)}')

0/1007

In [ ]:
is_vec = list()
#s = 0
#sub = subs[s]
for sub in subs:
    subfolder = f'../../data/ABIDE2/Derivatives/test/fmriprep/sub-{sub}/ses-1/func/'
    if os.path.isdir(subfolder):
        conts = os.listdir(subfolder)
        has_nii = any(['preproc_bold.nii.gz' in cont for cont in conts])
    else:
        has_nii = False
    is_vec.append(has_nii)
    
is_vec = np.array(is_vec)
print(f'{is_vec.sum()}/{len(is_vec)}')

In [221]:
df2['is_fmriprepped'] = is_vec

In [222]:
df_new = df2.groupby(['site_id']).mean()['is_fmriprepped']
df_new.sort_values(ascending=False)

site_id
ABIDEII-UCLA_1    1.000000
ABIDEII-UCD_1     1.000000
ABIDEII-TCD_1     1.000000
ABIDEII-OHSU_1    1.000000
ABIDEII-NYU_1     1.000000
ABIDEII-KUL_3     1.000000
ABIDEII-KKI_1     1.000000
ABIDEII-IU_1      1.000000
ABIDEII-IP_1      0.982143
ABIDEII-BNI_1     0.965517
ABIDEII-ONRC_2    0.898305
ABIDEII-EMC_1     0.870370
ABIDEII-GU_1      0.707547
ABIDEII-USM_1     0.030303
ABIDEII-SDSU_1    0.000000
ABIDEII-NYU_2     0.000000
Name: is_fmriprepped, dtype: float64

In [216]:
np.unique(df2['site_id'].values)

array(['ABIDEII-BNI_1', 'ABIDEII-EMC_1', 'ABIDEII-GU_1', 'ABIDEII-IP_1',
       'ABIDEII-IU_1', 'ABIDEII-KKI_1', 'ABIDEII-KUL_3', 'ABIDEII-NYU_1',
       'ABIDEII-NYU_2', 'ABIDEII-OHSU_1', 'ABIDEII-ONRC_2',
       'ABIDEII-SDSU_1', 'ABIDEII-TCD_1', 'ABIDEII-UCD_1',
       'ABIDEII-UCLA_1', 'ABIDEII-USM_1'], dtype=object)

In [223]:
slice_ = df2['site_id'].values=='ABIDEII-NYU_2'
site_subs = df2.iloc[slice_]['participant_id'].values

In [225]:
sub = site_subs[10]
os.listdir(f'../../data/ABIDE2/Derivatives/test/fmriprep/sub-{sub}/ses-1/func/')

['sub-29160_ses-1_task-rest_run-1_from-T1w_to-scanner_mode-image_xfm.txt',
 'sub-29160_ses-1_task-rest_run-1_from-scanner_to-T1w_mode-image_xfm.txt']

In [214]:
site_subs

array([], dtype=int64)