In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
pwd

'/mmfs1/data/aglinska/BC-fMRI-AE/Notebooks'

In [3]:
# phenotypic data
csv_dir = '../Data/ABIDE-PhenotypicData'
csv_files = [file for file in os.listdir(csv_dir) if file.endswith('.csv')]
csv_files.sort()
csv_files

df = pd.read_csv(os.path.join(csv_dir,csv_files[0]))
df.shape

for i in range(1,len(csv_files)):
    df2 = pd.read_csv(os.path.join(csv_dir,csv_files[i]))
    df = df.append(df2)
df.shape
df_phenotypic = df.copy()
df_phenotypic.shape

(1112, 74)

In [4]:
df_phenotypic = df_phenotypic.sort_values(by='SUB_ID')
#df_phenotypic.to_csv('../Data/ABIDE_subjects.csv')

In [5]:
indir = '/mmfs1/data/aglinska/data/ABIDE/RawDataBIDS/'
folders = os.listdir(indir)
folders.sort()
n = len(folders)

In [6]:
df = pd.read_csv(os.path.join(indir,folders[0],'participants.tsv'),'delimiter','\t')
for i in range(1,n):
    df = df.append(pd.read_csv(os.path.join(indir,folders[i],'participants.tsv'),'delimiter','\t'))
df.shape
df_bids = df.copy()

In [7]:
df_bids = df_bids.sort_values(by='participant_id')

In [8]:
df_bids

,participant_id,DX_GROUP,DSM_IV_TR,AGE_AT_SCAN,SEX,HANDEDNESS_CATEGORY,HANDEDNESS_SCORES,FIQ,VIQ,PIQ,...,WISC_IV_BLK_DSN_SCALED,WISC_IV_PIC_CON_SCALED,WISC_IV_MATRIX_SCALED,WISC_IV_DIGIT_SPAN_SCALED,WISC_IV_LET_NUM_SCALED,WISC_IV_CODING_SCALED,WISC_IV_SYM_SCALED,EYE_STATUS_AT_SCAN,AGE_AT_MPRAGE,BMI
0,50002,1,1,16.77,1,Ambi,NaN,103.0,116.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
1,50003,1,1,24.45,1,R,NaN,124.0,128.0,115.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
2,50004,1,1,19.09,1,R,NaN,113.0,108.0,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
3,50005,1,1,13.73,2,R,NaN,119.0,117.0,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
4,50006,1,1,13.37,1,L,NaN,109.0,99.0,119.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,51583,1,2,35.00,1,NaN,100.0,95.0,105.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
28,51584,1,2,49.00,1,NaN,100.0,-9999.0,133.0,135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,23.24
29,51585,1,1,27.00,1,NaN,90.0,96.0,99.0,106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
0,51606,1,2,29.00,2,R,NaN,118.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
1,51607,1,2,26.00,1,R,NaN,110.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN

In [9]:
assert df_phenotypic['SUB_ID'].values.shape[0]==df_bids['participant_id'].values.shape[0], 'not same length'
n = len(df_phenotypic['SUB_ID'].values)
assert all([df_phenotypic['SUB_ID'].values[i]==df_bids['participant_id'].values[i] for i in range(n)]), 'diff subs'

In [10]:
df_phenotypic

,SITE_ID,SUB_ID,DX_GROUP,DSM_IV_TR,AGE_AT_SCAN,SEX,HANDEDNESS_CATEGORY,HANDEDNESS_SCORES,FIQ,VIQ,...,WISC_IV_BLK_DSN_SCALED,WISC_IV_PIC_CON_SCALED,WISC_IV_MATRIX_SCALED,WISC_IV_DIGIT_SPAN_SCALED,WISC_IV_LET_NUM_SCALED,WISC_IV_CODING_SCALED,WISC_IV_SYM_SCALED,EYE_STATUS_AT_SCAN,AGE_AT_MPRAGE,BMI
0,PITT,50002,1,1,16.77,1,Ambi,NaN,103.0,116.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
1,PITT,50003,1,1,24.45,1,R,NaN,124.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
2,PITT,50004,1,1,19.09,1,R,NaN,113.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
3,PITT,50005,1,1,13.73,2,R,NaN,119.0,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
4,PITT,50006,1,1,13.37,1,L,NaN,109.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,SBL,51583,1,2,35.00,1,NaN,100.0,95.0,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
28,SBL,51584,1,2,49.00,1,NaN,100.0,-9999.0,133.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,23.24
29,SBL,51585,1,1,27.00,1,NaN,90.0,96.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
0,MAX_MUN,51606,1,2,29.00,2,R,NaN,118.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
1,MAX_MUN,51607,1,2,26.00,1,R,NaN,110.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN

In [11]:
# df = pd.read_csv('../Data/ABIDE_subjects.csv')
# df.isna().sum(axis=0).to_csv('../Data/nans.csv')

In [72]:
deriv = 'cpac_nofilt_global'
#deriv = 'niak_nofilt_global'
#deriv = 'dparsf_nofilt_global'
#deriv = 'ccs_nofilt_global'
bids_folders = os.listdir(f'../../data/ABIDE/Derivatives/{deriv}/')
bids_folders.sort()
bids_folders = bids_folders[2:]

bids = pd.DataFrame(bids_folders,columns=['folders'])
bids['ID'] = bids.applymap(lambda val : val[-5::])
bids['ID'] = pd.to_numeric(bids['ID'])
bids = bids.sort_values(by='ID')
len(bids)
bids.head(5)
len(bids)

1102

In [13]:
df = df.sort_values(by='participant_id')

In [14]:
missing_subs = np.argwhere([pid not in bids['ID'].values for pid in df['participant_id'].values])

In [15]:
[df.iloc[missing_sub[0]]['participant_id'] for missing_sub in missing_subs]

[51232, 51233, 51242, 51243, 51244, 51245, 51246, 51247, 51270, 51310]

In [16]:
bids.iloc[missing_subs[0][0]].head()

folders    sub-UCLA10051234
ID                    51234
Name: 732, dtype: object

In [21]:
f'{len(df)}/{len(bids)}'

'1112/1102'

In [68]:
# n = len(df)
# assert len(df) == len(bids), 'different lenghts'
# assert all([df['participant_id'].values[i]==bids['ID'].values[i] for i in range(n)]),'out of order'
# csv['bids_folder'] = bids['folders']

In [22]:
# indir = '/mmfs1/data/aglinska/data/ABIDE/RawDataBIDS'
# folders = os.listdir(indir)
# folders.sort()
# folders
# getS = lambda folder : np.array([f for f in os.listdir(os.path.join(indir,folder)) if f.startswith('sub-')])
# np.hstack([getS(folder) for folder in folders])

In [66]:
n = len(df)
df['bids_folder'] = np.nan
for i in range(n):

    try:
        idx = int(np.argwhere(df['participant_id'].values[i]==bids['ID'].values))
    except:
        idx = None

    if type(idx)!=type(None):
        #print('yes')
        df['bids_folder'].iloc[i] = bids['folders'].values[idx]

/data/aglinska/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [73]:
df.to_csv('../Data/ABIDE_df.csv')