In [14]:
!date

Tue Jun 14 13:16:54 EDT 2022

In [15]:
pwd

'/mmfs1/data/aglinska/BC-fMRI-AE/Notebooks'

In [ ]:
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

from helper_funcs import *

In [5]:
analysis_name = 'CVAE_2022-03-25 18:28:49.469238'
save_dir = os.path.join('../Assets/tf_weights',analysis_name)

data = np.load(os.path.join(save_dir,'results.npz'))
data = dict(data)
data_keys = list(data.keys())

In [35]:
func_sl_all = data['S_sample100'][0,:,:]
func_bg_all = data['Z_sample100'][0,:,:]

In [17]:
dff = pd.read_csv('../Data/comb_df.csv')
dff.head()

,Unnamed: 0,participant_id,diag,age,sex,fiq,site,DSMIV,ados_total,ados_social,ados_comm,ados_rrb,dataset
0,0,50002,1,16.77,1,103.0,13,1.0,12.0,8.0,4.0,3.0,ABIDE I
1,2,50004,1,19.09,1,113.0,13,1.0,18.0,12.0,6.0,2.0,ABIDE I
2,3,50005,1,13.73,2,119.0,13,1.0,12.0,8.0,4.0,1.0,ABIDE I
3,4,50006,1,13.37,1,109.0,13,1.0,12.0,8.0,4.0,4.0,ABIDE I
4,9,50011,1,16.93,1,111.0,13,1.0,13.0,9.0,4.0,NaN,ABIDE I

In [36]:
dfa = pd.read_csv('../../BC-CVAE-MRI-ASD-PUB/Data/ABIDE_legend_S982.csv')
anat_data = np.load('../../BC-CVAE-MRI-ASD-PUB/Data/latent_vecs10.npz')
anat_sl_all = anat_data['salient_vec_abide'][0,:,:]
anat_bg_all = anat_data['background_vec_abide'][0,:,:]
print(dfa.shape)
dfa.head()

(982, 90)

,Unnamed: 0,index,BIDS_ID,Anonymized ID,Subject Type,Visit,Days since enrollment,SubID,DxGroup,DSMIVTR,...,WISC4 Sym Scaled,Age at MPRAGE,Current Med Status,Medication Name,Medication Name.1,Off stimulants at EPI scan?,ScanSite,ScannerType,ScannerID,ScanSiteID
0,0,0,sub-001,A00033348,PATIENT,session_1,8,51320,1,2.0,...,NaN,NaN,0.0,NaN,NaN,NaN,mpg,verio,7,3
1,1,1,sub-002,A00033398,CONTROL,session_1,8,51373,2,0.0,...,NaN,NaN,0.0,NaN,NaN,NaN,mpg,verio,7,3
2,2,2,sub-003,A00033352,PATIENT,session_1,8,51324,1,2.0,...,NaN,NaN,0.0,NaN,NaN,NaN,mpg,verio,7,3
3,3,3,sub-004,A00033389,CONTROL,session_1,8,51364,2,0.0,...,NaN,NaN,0.0,NaN,NaN,NaN,mpg,verio,7,3
4,4,4,sub-005,A00033354,PATIENT,session_1,8,51326,1,2.0,...,NaN,NaN,0.0,NaN,NaN,NaN,mpg,verio,7,3

In [71]:
func_subs = dff.iloc[(dff['dataset'].values=='ABIDE I') * (dff['diag'].values==1)]['participant_id'].values
anat_subs = dfa['SubID'].values[dfa['DxGroup'].values==1]

In [80]:
assert len(np.unique(anat_subs))==len(anat_subs),'lol'
assert len(np.unique(func_subs))==len(func_subs),'lol'

In [83]:
unique_subs,counts = np.unique(np.hstack((func_subs,anat_subs)),return_counts=True)

In [89]:
common_subs = unique_subs[counts==2]

In [99]:
n = len(common_subs)

anat_bg = np.zeros((n,16))
anat_sl = np.zeros((n,16))
func_bg = np.zeros((n,16))
func_sl = np.zeros((n,16))

for s in range(n):
    subID = common_subs[s]
    anat_bg[s,:] = anat_bg_all[dfa['SubID'].values==subID,:]
    anat_sl[s,:] = anat_sl_all[dfa['SubID'].values==subID,:]
    func_bg[s,:] = func_bg_all[dff['participant_id'].values==subID,:]
    func_sl[s,:] = func_sl_all[dff['participant_id'].values==subID,:]